.button {
  background-color: #ee534f;
  width: 95px;
  height: 30px;
}

.info {
  background-color: gray;
}

button {
  width: 95px;
  height: 30px;
}

.search {
  height: 30px;
  border-radius: 4px;
  background-color: #e7e7e7;
  float: left;
}

.main-container {
  color: white;
  background-color: black;
  padding-top: 60px;
}

.end {
  display: grid;
  grid-template-columns: 1fr fr;
}

header {
  background-color: black;
  color: white;
  height: 350px;
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

.icons {
  font-size: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 150px;
  color: #ee534f;
  text-align: center;
}

.text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  padding-right: 500px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 50px;
  text-align: center;
}

.subscribe {
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.end {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1990px;
  height: 80px;
  background-color: #ee534f;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 50%;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

nav {
  text-align: center;
  word-spacing: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5px;
  text-align: center;
  color: #666666;
}

.hr {
  width: 300px;
  float: left;
}

.line {
  width: 50px;
  height: 1px;
  background-color: #ee534f;
  float: left;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

.pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pics img {
  width: 250px;
  height: 200px;
}

.container img {
  width: 250px;
  height: 200px;
}

.picture img {
  width: 300px;
  height: 250px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  margin-right: 50%;
  padding-left: 50px;
}

.pic img {
  margin-left: 150px;
  width: 250%;
  height: 300px;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 95px;
  height: 24px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 1990px;
  height: 200px;
  background-color: black;
  padding-top: 50px;
}

.rectangle {
  width: 30px;
  height: 4px;
  background-color: #ee534f;
}

.logos {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.percent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1500px;
  height: 300px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 5%;
}

.head {
  background-color: #666666;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intro img {
  width: 500px;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
