// base h1 tags and p tags and containers

// class button
.button {
    background-color: $btn;
    width: 95px;
    height: 30px;   
}

.info {
    background-color: gray;
}
// main buttons

button {
    width: 95px;
    height: 30px;
}


.search {
    height: 30px;
    border-radius: 4px;
    background-color: #e7e7e7;
    float: left;
}

.main-container {
    color: $font-color;
    background-color: $background-color;  
    padding-top: 60px;
 }

 .end {
     display: grid;
     grid-template-columns: 1fr fr;
 }