// header styling
header{
    background-color: black;
    color: $font-color;
    height: 350px;
    width: 100%;
    text-align: center;
    padding-top: 60px;
   }

   .icons {
      font-size: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-left: 150px;
      color:  #ee534f;
      text-align: center;
       
   }

   .text {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: center;
      padding-right: 500px;
   }

   .description {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-left: 50px;
      text-align: center;
   }

   .subscribe {
       text-align: center;
   }

   .footer {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
   }
   .end {
       display: grid;
       grid-template-columns: 1fr 1fr;
       width: 1990px;
       height: 80px;
       background-color: #ee534f;
   }

//    contact page styling
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 50%;
}

