// header styling
header{
    background-color: black;
    
    color: $font-color;
    height: 350px;
    width: 100%;
    text-align: center;
    padding-top: 60px;
   }

   .icons {
      font-size: 60px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding-left: 150px;
      color:  #ee534f;
      text-align: center;
       
   }

   .text {
      display: grid;
      grid-template-columns: auto auto auto auto;
      text-align: center;
    //  padding-left: 30%;
   }

   .description {
      display: grid;
      grid-template-columns: auto auto auto auto;
    //   padding-left: 50px;
      text-align: center;
   }

   .subscribe {
       text-align: center;
   }

   .heading {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
   }

   .information {
    display: grid;
    grid-template-columns: 1fr;

   }

   .information {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   .end {
       display: grid;
       grid-template-columns: 1fr 1fr;
       width: 1990px;
       height: 80px;
       background-color: #ee534f;
   }

//    contact page styling
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 50%;
}

.slideshow-container img {
    width: 250px;
    height: 200px;
      
}

.mySlides1 {
    display: grid;

    grid-template-columns: 300px 300px 300px 300px;

}

.mySlides2 {
    display: grid;

    grid-template-columns: 300px 300px 300px 300px; 
}

.mySlides3 {
    display: grid;

    grid-template-columns: 300px 300px 300px 300px; 
}

img {
    width: 350px;
    height: 200px;
}

button:hover {
    background-color:#ee534f
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    font-size: 20px;
    
    
}

.highlight {
    text-align: center;
}

.course1 {
    border: red solid 1px;
    background-color:red;
    
    

}



