// layouts

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

// nav section
nav {
    text-align: center;
    word-spacing: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5px;
    text-align: center;
    color: #666666;
     
}


.hr {
    width: 300px;
    float: left; 
    
}

.line {
    width: 50px;
    height: 1px;
    background-color: #ee534f;
    float: left;
    
    
}

// article div styling
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}


// pics styling div
.pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pics img{
    width: 250px;
    height: 200px;
}


.container img {
    width: 250px;
    height: 200px;
}

.picture img {
    width: 300px;
    height: 250px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    margin-right: 50%;
    padding-left: 50px;
   
}

.pic img {
    margin-left: 150px;
    width: 250%;
    height: 300px;
    
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.counter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95px;
  height: 24px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
    width: 1990px;
    height: 200px;
    background-color: black;
    padding-top: 50px;

    
}

.rectangle {
    width: 30px;
  height: 4px;
  background-color: #ee534f;
}

.logos {
 background-color: black; 
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

// about page styling
.percent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1500px;
  height: 300px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 5%;

}

.head {
    background-color: #666666
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro img {
    width: 500px;
    height: 300px;

}






