// base

// class button
.button {
    background-color: $btn;
    width: 95px;
    height: 30px;   
}

.info {
    background-color: gray;
}
// main buttons

button {
    width: 95px;
    height: 30px;
}